.flex{
    display:flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.border{
    border: 2px solid red;
    margin: 3px;
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-grey{
    background-color: #121212;
    color: white;
}

.invert{
    filter: invert(1);
}

.rounded{
    border-radius:10px ;
}

.m1{
    margin: 5px;
}

.p1{
    padding:10px 16px;
}

.m2{
    margin: 10px 0px; 
}